/* ==============================================
	COLORS.SCSS
	Include all of your color variables here
============================================== */

$white: #FFFFFF;
$trueBlack: #000000;
$black: #011728;
$red: #D03027;

// BLUES (1 is darkest)
$darkBlue: #003362;
$blue2: #004977;
$blue3: #336D92;
$medBlue: #0D74AF;
$blue5: #018BBB;
$blue6: #019ED5;
$blue7: #97D6ED;
$lightBlue: #E2F4FE;

// GREENS
$darkGreen: #128020;
$green2: #0EA218;
$medGreen: #0DAD0C;
$lightGreen: #10BD1B;

// YELLOWS
$darkYellow: #F8CC01;
$medYellow: #FFDC24;
$lightYellow: #FFE34F;

// GRAYS (1 is darkest)
$darkGray: #273B49;
$gray2: #687680;
$gray3: #AEB5BB;
$medGray: #C9CED2;
$gray5: #CFCCCF;
$gray6: #DCD8DB;
$gray7: #E8E4E7;
$gray8: #F4F0F3;
$lightGray: #FAF8F9;
