/* ==============================================
	VARIABLES.SCSS
	Global vars for the project
============================================== */

// BASE FONT SIZE FOR EM CALCULATION
$base-font-size: 12px;

// DEBUGGING BORDERS
$target1: 1px solid red;
$target2: 1px solid green;
$target3: 1px solid blue;